{% if misc_network_enabled %}
[Unit]
Description=Misc Internal Network

[Network]
NetworkName={{ misc_network_name }}
Driver={{ misc_network_driver }}
Internal={{ misc_network_internal | bool | lower }}
{% endif %}
