# Perses provisioning – Mimir (Prometheus-compatible) global datasource
# Docs: https://perses.dev/perses/docs/api/datasource/
kind: GlobalDatasource
metadata:
  name: mimir
spec:
  default: true
  plugin:
    kind: PrometheusDatasource
    spec:
      directUrl: "http://127.0.0.1:{{ monitoring_stack_mimir_http_port }}/prometheus"
