[Unit]
Description=CloudBeaver Container

[Container]
ContainerName=cloudbeaver
Image=docker.io/dbeaver/cloudbeaver:{{ cloudbeaver_version }}

Pod=cloudbeaver.pod

{% if cloudbeaver_autoupdate %}
AutoUpdate=registry
{% endif %}

{% if cloudbeaver_environment_vars is defined %}
{% for env_name, env_value in cloudbeaver_environment_vars.items() %}
Environment={{ env_name }}={{ env_value }}
{% endfor %}
{% endif %}

{% if cloudbeaver_proxy_enabled %}
{% for env_var in cloudbeaver_proxy_env %}
Environment={{ env_var }}
{% endfor %}
{% endif %}

Volume=cloudbeaver-data.volume:/opt/cloudbeaver/workspace

Volume=%h/.config/containers/systemd/cloudbeaver-pod/config/data-sources.json:/opt/cloudbeaver/workspace/GlobalConfiguration/.dbeaver/data-sources.json:Z

{% for item in (cloudbeaver_extra_files | default([]) + cloudbeaver_extra_dirs | default([])) if item.mount is defined and item.mount %}
Volume=%h/.config/containers/systemd/cloudbeaver-pod/{{ item.dest }}:{{ item.mount }}:Z
{% endfor %}
[Service]
Restart=always
