[Unit]
Description=OpenCloud Container

[Container]
ContainerName=opencloud
Image=docker.io/opencloudeu/opencloud-rolling:{{ opencloud_version }}

Pod=opencloud.pod

{% if opencloud_autoupdate %}
AutoUpdate=registry
{% endif %}

{% if opencloud_environment_vars is defined %}
{% for env_name, env_value in opencloud_environment_vars.items() %}
Environment={{ env_name }}={{ env_value }}
{% endfor %}
{% endif %}

Volume=opencloud-config.volume:/etc/opencloud/
Volume=opencloud-data.volume:/var/lib/opencloud/
