[containers]
http_proxy = false

[engine]
{% if monitoring_stack_proxy_enabled and monitoring_stack_proxy_env %}
env = ["{{ monitoring_stack_proxy_env | join('","') }}"]
{% else %}
env = []
{% endif %}
