[Unit]
Description=Homeassistant Container

[Container]
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:{{ homeassistant_version }}

Pod=homeassistant.pod

{% if homeassistant_autoupdate %}
AutoUpdate=registry
{% endif %}

{% if homeassistant_environment_vars is defined %}
{% for env_name, env_value in homeassistant_environment_vars.items() %}
Environment={{ env_name }}={{ env_value }}
{% endfor %}
{% endif %}

{% if homeassistant_proxy_enabled %}
{% for env_var in homeassistant_proxy_env %}
Environment={{ env_var }}
{% endfor %}
{% endif %}

{% if homeassistant_device %}
Volume={{ homeassistant_device }}
Annotation=run.oci.keep_original_groups=1
SecurityLabelType=spc_t
{% endif %}

{% if homeassistant_deebot_module %}
Volume=%h/.config/containers/systemd/homeassistant-pod/config/8n0t5d.py:/usr/local/lib/python3.13/site-packages/deebot_client/hardware/8n0t5d.py:Z
{% endif %}
Volume=homeassistant-data.volume:/config

[Service]
Restart=always
