{% if opencloud_envoy_enabled %}
[Unit]
Description=OpenCloud Envoy Proxy
After=opencloud.service

[Container]
ContainerName=opencloud-envoy
Image=docker.io/envoyproxy/envoy:v{{ opencloud_envoy_version }}

Pod=opencloud.pod

Volume=%h/.config/containers/systemd/opencloud-pod/config/envoy.yaml:/etc/envoy/envoy.yaml:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
{% endif %}
