[Unit]
Description=OpenCloud Internal Network

[Network]
NetworkName={{ opencloud_network_name }}
Driver={{ opencloud_network_driver }}
Internal={{ opencloud_network_internal | bool | lower }}
