{% if homeassistant_spire_enabled %}
[Unit]
Description=Homeassistant SPIRE Agent
After=homeassistant.service

[Container]
ContainerName=homeassistant-spire-agent
Image=ghcr.io/spiffe/spire-agent:{{ homeassistant_spire_agent_version }}

Pod=homeassistant.pod

Volume=%h/.config/containers/systemd/spire-pod/config/bundle.crt:/run/spire/agent/bootstrap.crt:Z
Volume=%h/.config/containers/systemd/homeassistant-pod/config/spire-agent.conf:/etc/spire/agent/agent.conf:Z
Volume=%h/.config/containers/systemd/homeassistant-pod/data:/run/spire/data:Z
Volume=%h/.config/containers/systemd/homeassistant-pod/token:/run/spire/agent/token:Z
Volume=homeassistant-spire-sockets:/run/spire/agent:Z

Exec=/opt/spire/bin/spire-agent run -config /etc/spire/agent/agent.conf -joinToken $(cat /run/spire/agent/token)
{% endif %}
