[Unit]
Description=Authentik Cache Container

[Container]
ContainerName=authentik-cache
Image=valkey/valkey:{{ valkey_version }}
Exec=valkey-server --supervised systemd

Pod=authentik.pod

{% if authentik_cache_autoupdate %}
AutoUpdate=registry
{% endif %}

{% if authentik_cache_environment_vars is defined %}
{% for env_name, env_value in authentik_cache_environment_vars.items() %}
Environment={{ env_name }}={{ env_value }}
{% endfor %}
{% endif %}

Volume=authentik-cache.volume:/data
