[Unit]
Description=Vaultwarden Container

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:{{ vaultwarden_version }}

Pod=vaultwarden.pod

{% if vaultwarden_autoupdate %}
AutoUpdate=registry
{% endif %}

{% if vaultwarden_environment_vars is defined %}
{% for env_name, env_value in vaultwarden_environment_vars.items() %}
Environment={{ env_name }}={{ env_value }}
{% endfor %}
{% endif %}

Volume=vaultwarden-data.volume:/data
