{% if postgresql_network_enabled %}
[Unit]
Description=PostgreSQL Internal Network

[Network]
NetworkName={{ postgresql_network_name }}
Driver={{ postgresql_network_driver }}
Internal={{ postgresql_network_internal | bool | lower }}
{% endif %}
