---
- name: "Misc: Create build directory"
  become: true
  ansible.builtin.file:
    path: "/tmp/misc-build"
    state: directory
    mode: "0755"

- name: "Misc: Clone misc repository"
  become: true
  ansible.builtin.git:
    repo: "https://forgejo.nixpi.de/moritz/service-misc.git"
    dest: "/tmp/misc-build"
    version: "{{ misc_commit }}"
    force: true
    depth: 1

- name: "Misc: Build custom podman image"
  become: true
  become_user: "{{ podman_user }}"
  containers.podman.podman_image:
    name: "localhost/misc-custom"
    tag: "latest"
    path: "/tmp/misc-build"
    build:
      file: "/tmp/misc-build/docker/docker-minimal/Dockerfile"
      format: oci
      cache: false
      force_rm: true
  register: misc_image_build

- name: "Misc: Clean up build directory"
  become: true
  ansible.builtin.file:
    path: "/tmp/misc-build"
    state: absent

- name: "Misc: Enable lingering"
  become: true
  ansible.builtin.command: loginctl enable-linger {{ podman_user }}
  register: podman_lingering
  changed_when: podman_lingering.rc != 0

- name: "Misc: Configure unprivileged port range for rootless containers"
  become: true
  ansible.posix.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: "80"
    sysctl_set: true
    sysctl_file: /etc/sysctl.d/99-rootless-ports.conf
    reload: true

- name: "Misc: Create podman network"
  become: true
  become_user: "{{ podman_user }}"
  containers.podman.podman_network:
    name: quadlet

- name: "Misc: Create quadlet directory"
  become: true
  become_user: "{{ podman_user }}"
  ansible.builtin.file:
    path: "/home/{{ podman_user }}/.config/containers/systemd"
    state: directory
    owner: "{{ podman_user }}"
    group: "{{ podman_user }}"
    mode: "0755"

- name: "Misc: Create directory structure"
  become: true
  ansible.builtin.file:
    path: "/home/{{ podman_user }}/.config/containers/systemd/{{ item.path }}"
    state: directory
    owner: "{{ podman_user }}"
    group: "{{ podman_user }}"
    mode: "{{ item.mode }}"
  with_community.general.filetree: "templates/"
  when: item.state == 'directory'

- name: "Misc: Template quadlet files"
  become: true
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "/home/{{ podman_user }}/.config/containers/systemd/{{ item.path }}"
    owner: "{{ podman_user }}"
    group: "{{ podman_user }}"
    mode: "{{ item.mode }}"
  with_community.general.filetree: "templates/"
  when: item.state == 'file'
  notify:
    - "Misc: Restart pod service"

- name: "Misc: systemd daemon reload"
  become: true
  become_user: "{{ podman_user }}"
  ansible.builtin.systemd:
    daemon_reload: true
    scope: user

- name: "Misc: Start pod service"
  become: true
  become_user: "{{ podman_user }}"
  ansible.builtin.systemd:
    name: misc-pod.service
    enabled: true
    state: started
    scope: user

- name: "Misc: Enable podman-auto-update timer"
  become: true
  become_user: "{{ podman_user }}"
  ansible.builtin.systemd:
    name: podman-auto-update.timer
    enabled: true
    state: started
    scope: user
