[Unit]
Description=Vaultwarden Container

[Container]
ContainerName=vaultwarden
Image=docker.io/vaultwarden/server:{{ vaultwarden_version }}

Pod=vaultwarden.pod

{% if vaultwarden_autoupdate %}
AutoUpdate=registry
{% endif %}
{% if vaultwarden_entrypoint %}
Entrypoint={{ vaultwarden_entrypoint }}
{% endif %}

{% if vaultwarden_environment_vars is defined %}
{% for env_name, env_value in vaultwarden_environment_vars.items() %}
Environment={{ env_name }}={{ env_value }}
{% endfor %}
{% endif %}

{% if vaultwarden_proxy_enabled %}
{% for env_var in vaultwarden_proxy_env %}
Environment={{ env_var }}
{% endfor %}
{% endif %}

Volume=vaultwarden-data.volume:/data

{% for item in (vaultwarden_extra_files | default([]) + vaultwarden_extra_dirs | default([])) if item.mount is defined and item.mount %}
Volume={{ item.source | default('%h/.config/containers/systemd/vaultwarden-pod/' ~ item.dest) }}:{{ item.mount }}:Z
{% endfor %}
[Service]
Restart=always
