{% if vaultwarden_network_enabled %}
[Unit]
Description=Vaultwarden Internal Network

[Network]
NetworkName={{ vaultwarden_network_name }}
Driver={{ vaultwarden_network_driver }}
Internal={{ vaultwarden_network_internal | bool | lower }}
{% endif %}
