[general]
# DNS interface
listen = "0.0.0.0:53"

# protocol, "both", "both4", "both6", "udp", "udp4", "udp6" or "tcp", "tcp4", "tcp6"
protocol = "both"

# domain name to serve the requests off of
domain = "{{ acme_dns_domain }}"

# zone name server
nsname = "{{ acme_dns_nsname }}"

# admin email address, where @ is substituted with .
nsadmin = "{{ acme_dns_nsadmin }}"

# predefined records served in addition to the TXT
records = [
{% for record in acme_dns_records %}
    "{{ record }}",
{% endfor %}
]

# debug messages from CORS etc
debug = false

[database]
# Database engine to use, sqlite or postgres
engine = "sqlite"

# Connection string, filename for sqlite3 and postgres://$username:$password@$host/$db_name for postgres
# Please note that the default Docker image uses path /var/lib/acme-dns/acme-dns.db for sqlite3
connection = "/var/lib/acme-dns/acme-dns.db"

[api]
# listen ip eg. 127.0.0.1
ip = "0.0.0.0"

# disable registration endpoint
disable_registration = {{ acme_dns_disable_registration | bool | lower }}

# listen port, eg. 443 for default HTTPS
port = "{{ acme_dns_api_port }}"

# possible values: "letsencrypt", "letsencryptstaging", "cert", "none"
tls = "none"

# only used if tls = "cert"
tls_cert_privkey = "/etc/tls/example.org/privkey.pem"
tls_cert_fullchain = "/etc/tls/example.org/fullchain.pem"

# only used if tls = "letsencrypt"
acme_cache_dir = "api-certs"

# optional e-mail address to which Let's Encrypt will send expiration notices for the API's cert
notification_email = ""

# CORS AllowOrigins, wildcards can be used
corsorigins = [
    "*"
]

[logconfig]
# logging level: "error", "warning", "info" or "debug"
loglevel = "{{ acme_dns_loglevel }}"

# possible values: stdout, file
logtype = "stdout"

# file path for logfile
logfile = "./acme-dns.log"

# format, either "json" or "text"
logformat = "{{ acme_dns_logformat }}"
