{% if bumper_spire_enabled %}
[Unit]
Description=Bumper SPIRE Agent
After=bumper.service

[Container]
ContainerName=bumper-spire-agent
Image=ghcr.io/spiffe/spire-agent:{{ bumper_spire_agent_version }}

Pod=bumper.pod

Volume=%h/.config/containers/systemd/spire-pod/config/bundle.crt:/run/spire/agent/bootstrap.crt:Z
Volume=%h/.config/containers/systemd/bumper-pod/config/spire-agent.conf:/etc/spire/agent/agent.conf:Z
Volume=%h/.config/containers/systemd/bumper-pod/data:/run/spire/data:Z
Volume=%h/.config/containers/systemd/bumper-pod/token:/run/spire/agent/token:Z
Volume=bumper-spire-sockets:/run/spire/agent:Z

Exec=/opt/spire/bin/spire-agent run -config /etc/spire/agent/agent.conf -joinToken $(cat /run/spire/agent/token)
{% endif %}
