{% if forgejo_envoy_enabled %}
[Unit]
Description=Forgejo Envoy Proxy
After=forgejo.service

[Container]
ContainerName=forgejo-envoy
Image=docker.io/envoyproxy/envoy:v{{ forgejo_envoy_version }}

Pod=forgejo.pod

Volume=%h/.config/containers/systemd/forgejo-pod/config/envoy.yaml:/etc/envoy/envoy.yaml:Z
{% if forgejo_spire_enabled %}
Volume=forgejo-spire-sockets:/run/spire/agent:Z
{% endif %}
{% endif %}
