[Unit]
Description=Forgejo Container
After=forgejo-postgresql.service

[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:{{ forgejo_version }}

Pod=forgejo.pod

{% if forgejo_autoupdate %}
AutoUpdate=registry
{% endif %}

{% if forgejo_environment_vars is defined %}
{% for env_name, env_value in forgejo_environment_vars.items() %}
Environment={{ env_name }}={{ env_value }}
{% endfor %}
{% endif %}

Volume=forgejo-data.volume:/data
