[Unit]
Description=Homeassistant Container

[Container]
ContainerName=homeassistant
Image=ghcr.io/home-assistant/home-assistant:{{ homeassistant_version }}

Pod=homeassistant.pod

{% if homeassistant_autoupdate %}
AutoUpdate=registry
{% endif %}

{% if homeassistant_environment_vars is defined %}
{% for env_name, env_value in homeassistant_environment_vars.items() %}
Environment={{ env_name }}={{ env_value }}
{% endfor %}
{% endif %}

{% if homeassistant_device is defined %}
Volume={{ homeassistant_device }}
Annotation=run.oci.keep_original_groups=1
SecurityLabelType=spc_t
{% endif %}

Volume=homeassistant-data.volume:/config
