{% if mariadb_network_enabled %}
[Unit]
Description=MariaDB Internal Network

[Network]
NetworkName={{ mariadb_network_name }}
Driver={{ mariadb_network_driver }}
{% endif %}
