[Unit]
Description=MariaDB Backup Daemon

[Container]
ContainerName=mariadb-backup
Image=docker.io/library/mariadb:{{ mariadb_version }}

Pod=mariadb.pod

{% if mariadb_backup_entrypoint %}
Entrypoint={{ mariadb_backup_entrypoint }}
{% endif %}

{% if mariadb_backup_autoupdate %}
AutoUpdate=registry
{% endif %}

Environment=DB_HOST=127.0.0.1
Environment=DB_PORT=3306
Environment=DB_NAME={{ mariadb_admin_database }}
Environment=DB_NAMES={{ ([mariadb_admin_database] + (mariadb_databases | map(attribute='name') | list)) | join(' ') }}
Environment=DB_USER={{ mariadb_backup_user }}
Environment=DB_PASSWORD={{ mariadb_backup_password }}
Environment=BACKUP_SCHEDULE_TIMES={{ mariadb_backup_schedule_times }}
Environment=BACKUP_RETENTION_DAYS={{ mariadb_backup_retention_days }}
Environment=BACKUP_COMPRESSION_LEVEL={{ mariadb_backup_compression }}
Environment=BACKUP_DIR=/backups

Volume=mariadb-backup.volume:/backups
Volume=%h/.config/containers/systemd/mariadb-pod/config/init-databases.sql:/usr/local/bin/init-databases.sql:ro,Z
Volume=%h/.config/containers/systemd/mariadb-pod/config/backup.sh:/usr/local/bin/backup.sh:ro,Z
Volume=%h/.config/containers/systemd/mariadb-pod/config/restore.sh:/usr/local/bin/restore.sh:ro,Z
Volume=%h/.config/containers/systemd/mariadb-pod/config/backup-daemon.sh:/usr/local/bin/backup-daemon.sh:ro,Z

Exec=/usr/local/bin/backup-daemon.sh

[Service]
Restart=always
