{% if authentik_network_enabled %}
[Unit]
Description=Authentik Internal Network

[Network]
NetworkName={{ authentik_network_name }}
Driver={{ authentik_network_driver }}
Internal={{ authentik_network_internal | bool | lower }}
{% endif %}
