---
######################################
### giftpilz0.general.firewalld

firewalld_zones_define:
  - zone: server
    source: 192.168.60.0/24
  - zone: server-kubernetes
    source: 192.168.65.0/24
  - zone: server-lb
    source: 192.168.70.0/24
  - zone: clients
    source: 192.168.10.0/24
  - zone: clients
    source: 192.168.15.0/24

firewalld_rules_services:
  - service: ssh
    zone: clients
    state: enabled
  - service: http
    zone: clients
    state: enabled
  - service: https
    zone: clients
    state: enabled
  - service: http
    zone: server
    state: enabled
  - service: https
    zone: server
    state: enabled

######################################
### giftpilz0.server.podman, giftpilz0.homelab.opencloud

podman_user: "container"

opencloud_version: "4"

opencloud_autoupdate: true

opencloud_domain: "https://opencloud.nixpi.de"
opencloud_log_level: "WARN"

opencloud_custom_clients:
  - id: forgejo
    name: "forgejo"
    trusted: false
    secret: "{{ forgejo_oauth_client_secret }}"
    redirect_uris:
      - "https://forgejo.nixpi.de/user/oauth2/opencloud/callback"
    post_logout_redirect_uris: []
    origins:
      - "https://forgejo.nixpi.de"
    application_type: "web"

######################################
### giftpilz0.homelab.traefik

traefik_acme_challenge_type: dns
traefik_acme_dns_provider: "cloudflare"
traefik_log_level: "WARN"

traefik_transport_timeouts_enabled: true
traefik_transport_read_timeout: "12h"
traefik_transport_write_timeout: "12h"
traefik_transport_idle_timeout: "3m"

# HTTP services
traefik_http_services:
  - name: opencloud
    domain: opencloud.nixpi.de
    rule: "Host(`opencloud.nixpi.de`)"
    servers:
      - url: "http://opencloud-pod:9200"
    tls_enabled: true
    acme_enabled: true
