{% for key, value in (item.challenge.environment | default({})).items() %}
{{ key }}={{ value | quote }}
{% endfor %}
{% if item.challenge.type == 'dns-01' %}
LEGO_DNS_PROVIDER={{ item.challenge.provider | quote }}
{% endif %}
{% if item.deploy is defined and item.deploy.pfx is defined and item.deploy.pfx.password is defined %}
LEGO_PFX_PASSWORD={{ item.deploy.pfx.password | quote }}
{% endif %}
