{% for key, value in (item.challenge.environment | default({})).items() %}
[Environment]::SetEnvironmentVariable('{{ key }}', {{ value | to_json }}, 'Process')
{% endfor %}
{% if item.deploy is defined and item.deploy.pfx is defined and item.deploy.pfx.password is defined %}
[Environment]::SetEnvironmentVariable('LEGO_PFX_PASSWORD', {{ item.deploy.pfx.password | to_json }}, 'Process')
{% endif %}
