[Unit]
Description=Cloudflare Dynamic DNS IP Updater
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart={{ cfdyndns_script_path }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
